// 主题色配置
$theme-color:#4fc08d;
// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
$vw_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function rem($px) {
  @return ($px / $vw_fontsize ) * 1rem;
}
// 根元素大小使用 vw 单位
$vw_design: 750;
html {
  font-size: ($vw_fontsize / ($vw_design / 2)) * 100vw;
  // 同时，通过Media Queries 限制根元素最大最小值
  @media screen and (max-width: 300px) {
    font-size: 64px;
  }
  @media screen and (min-width: 750px) {
    font-size: 108px;
  }
}
// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body {
  max-width: 750px;
  min-width: 300px;
}



//
//// mand-mobile
//
//// form
//.md-field{
//  padding:0;
//  margin: 0;
//}
//.md-field-item-title,.md-field-item-control{
//  font-size: rem(18);
//}
//.md-field-item-right .md-icon.icon-font.md{
//  font-size: rem(16);
//}
//.md-field-item-content{
//  min-height: inherit;
//  padding:rem(20) rem(10);
//}